@media (max-width:1134px) {
    .black{
        width: 100%;
    }
    .header__nav{
        width: 100%;
    }
    .header__iphone{
        display: flex;
        flex-direction: column ;
    }
    .header__nav {
        width: 100%;
    }
    .section__and-img{
        width: 100%;
    }
    .section__black-img{
        width: 100%;
    }
    .section__white-img{
        width: 100%;
    }
    .section__black-text{
        width: 100%;
    }
}